@using EulerExchangeAppDev.Models;

@{
    ViewBag.Title = "Home Page";
}
@model ModelList

   
<div class="row">
    <div class="col-md-3">
        <h2>Jewelry items</h2>
        @Html.Partial("~/Views/Home/Partials/JewelryItemsList.cshtml", Model.data[Model.names["offers"]])
    </div>
    <div class="col-md-3">
        <h2>Gold Bullion Trade</h2>
        @Html.Partial("~/Views/Home/Partials/GoldBullionOffersList.cshtml", Model.data[Model.names["GoldBullionOffers"]])
    </div>
    <div class="col-md-3">
        <h2>Offers</h2>
        @Html.Partial("~/Views/Home/Partials/JewelryItemsList.cshtml", Model.data[Model.names["offers"]])
    </div>
    <div class="col-md-3">
        <h2>Jewelry machines, Equipment, Technology and Dolls</h2>
        @Html.Partial("~/Views/Home/Partials/JewelryMachinesList.cshtml", Model.data[Model.names["JewelryMachines"]])
    </div>
</div>